<div id="create_product_lightbox" style="display: none;">
    <div id="create_product_shade" style="position: fixed; top: 0px; bottom: 0px; right: 0px; left: 0px; background-color: rgb(0, 0, 0); opacity: 0.5; z-index: 99;"></div>
    <iframe id="create_product_iframe" src="/iframe/createproducts" style="position: fixed;border:0;width: 345px;height: 375px;top: 10px;left: 50%;margin-left: -172px;z-index: 100;"></iframe>
</div>
