<div id="{{id}}" class="reveal-modal password_editor">
    <h3>Change Password</h3>
    <div id="save_password_error_box" class="alert-box alert" style="display: none;">Errors on changing your password!</div>
    <label>Current Password<input id="current_password" name="current_password" type="password" placeholder="Current Password" value=""/></label>
    <hr>
    <label>New Password<input id="new_password" name="new_password" type="password" placeholder="New Password" value=""/></label>
    <label>Confirm New Password<input id="confirm_password" name="confirm_password" type="password" placeholder="Confirm New Password" value=""/></label><br>
    <button id="save_password" name="submit" type="submit" value="submit" class="button radius alert large" >Save</button>
    <a class="close-reveal-modal button radius secondary large">Cancel</a>
    <a class="close-reveal-modal">&#215;</a>
</div>