{{#pins}}
<li unselectable="on" page-num="{{page_num}}">

    <a name="facebook_photo.jpg" class="thumbnail selectable pin-container" path="/Facebook/2239476041764/2408888636973" data-disabled="">
        <span class="overlay-image add-pin" style="display: none">
            <img src="/img/plus.png">
        </span>
        <span class="overlay-image pin-added" style="display: none">
            <img src="/img/check.png">
        </span>
        <span class="overlay-image remove-pin" style="display: none">
            <img src="/img/x.png">
        </span>
        <img class="pin45_url" src="{{image_45}}" style="display: none" pin-id="{{id}}">
        <img class="pin192_url" src="{{image_192}}" alt="facebook_photo.jpg" width="130">
    </a>
    <h5 style="display: none">{{description}}</h5>

</li>
{{/pins}}