<li class="selected-preview alert alert-info" pin-id="{{pin_id}}">
    <div class="tiny-thumbnail">

        <img class="thumbnail-spinner" src="/static/img/spinner.gif" alt="Loading..." style="display: none;">
        <img class="thumbnail-image" src="{{pin_url}}" alt=" thumbnail" style="">

    </div>
    <span class="multi-filename ellipsize">{{pin_description}}</span>
</li>