<a class="close-reveal-modal">×</a>
{{#error_msg}}
    <div class="alert-box alert">{{error_msg}}</div>
{{/error_msg}}
{{#show_login}}
	<h1>Pin All <span class="gentium">Your</span> Products</h1>
	<h2>Enter your Pinterest account information below and we will pin all your current products to your Pinterest account for you.</h2>
	<p>We do not store your information and will never post without your permission.</p>
    <input id="pinterest_email" type="text" placeholder="Pinterest Email">
    <input id="pinterest_password" type="password" placeholder="Pinterest Password">
{{/show_login}}
{{#show_createboard}}
	<h1>Name <span class="gentium">your</span> Pinterest board</h2>
	<p>Create a new board to pin all your products into.</p>
    <input id="boardname" type="text" placeholder="{{default_boardname}}" value="{{default_boardname}}" >
    
    <div><a href="" id="select_boards">Would you like to pin to an existing board? Click here »</a></div>
    
{{/show_createboard}}
{{#show_selectboards}}
	<h1>Select a <span class="gentium">Pinterest</span> board</h2>
	<p>Select a Pinterest board to pin all your products to.</p>
    <select id="board_options">
        {{#boards}}
            <option value="{{id}}">{{name}}</option>
        {{/boards}}
    </select>
    <div><a href="" id="create_board">Prefer to create a new board? Click Here »</a></div>
{{/show_selectboards}}
{{#show_confirmation}}
    <h1>We are <span class="gentium">pinning</span> your products now.</h1>
    <p>This process will take about 15 minutes so please check your Pinterest profile soon.</p>
{{/show_confirmation}}
<center><br><br><input id="pinstore_lightbox_submit" type="submit" value="{{#button_text}}{{button_text}}{{/button_text}}{{^button_text}}Submit{{/button_text}}" class="button radius alert large"></center>
