<a href="" id="{{id}}">
    {{#button_image}}
    <img src="http://passets-lt.pinterest.com/images/about/buttons/pinterest-button.png" width="80" height="28" alt="Pin the store products" />
    {{/button_image}}
    {{#button_text}}
    Pin Your Store
    {{/button_text}}
</a>