<div id="receipt-header" class="module-header">
    <h3 class="title">Receipt</h3>
</div>
<div id="receipt-content">
    <h5 class="divider order-id">
        Order {{order_id}}
    </h5>
    <div class="divider order-address">
        <div class="right">{{shipping_date}}</div>
        <div class="address">
            <strong>{{shipping_name}}</strong><br>
            {{shipping_addr}}<br>
            {{shipping_city_state_zip}} <br>
            {{shipping_country}}<br>
            {{shipping_phone}}<br>
        </div>
    </div>
    <div class="divider order-detail">
        {{#order_details}}
        <div class="detail-item">
            <span class="right">{{subtotal}}</span>
            <div>{{quantity}} x {{name}}</div>
        </div>
        {{/order_details}}
    </div>
    <div class="order-subtotal">
        <div class="divider"><strong class="right">{{order_subtotal}}</strong>Subtotal</div>
        <div class="divider"><strong class="right">{{order_tax}}</strong>Tax</div>
        <div class="divider"><strong class="right">{{order_shipping}}</strong>Shipping</div>
    </div>
    <div class="order-total">
        TOTAL: <span class="red">{{order_total}}</span>
    </div>

</div>
<div id="receipt-footer">
    <a href="##" class="right module-button" id="receipt-close">Continue Shopping!</a>
    <p class="left thanks">Thank you for your purchase!</p>
</div>
