<div id="popup-tags" class="popup reveal-modal" style="display:none;">
    <div class="popup-op">
        <a href="##" class="button-save save-tag-popup left">Save</a>
        <a href="##" class="button-cancel button-cancel-popup right">Cancel</a>
    </div>
    <div class="popup-bd">
        <textarea id="popup-tags-textarea" placeholder="type tags here"></textarea>
        <p>Separate tags with commas.(e.g. hello, world of tanks).</p>
    </div>
</div>