<div class="table-row custom-item">
    <div class="table-cell"><input class="cf_name" type="text"></div>
    <div class="table-cell instock"><input class="cf_quantity" type="text"></div>
    <div class="table-cell">
        <div class="edit-options" style="display:none;">
            <a href="javascript:;" class="edit-custom-item" style="margin-right:10px;">Edit</a>
            <a href="javascript:;" class="del-custom-item">Delete</a>
        </div>
        <div class="save-options">
            <a href="javascript:;" class="save-custom-item">Save</a> or <a href="javascript:;" class="cancel-custom-item">Cancel</a>
        </div>
    </div>
</div>
