<div class="row shipping-options-item">
    <div class="five columns">
        Service Type:
        <select name="service-type" class="service-type">
            <option value="">----</option>
            <option value="Standard">Standard</option>
            <option value="Priority">Priority</option>
            <option value="Express">Express</option>
            <option value="Custom">Custom</option>
        </select>
        <input type="text" placeholder="Shipping Type" class="extra-service-type" style="display:none;">
    </div>
    <div class="seven columns dest-wrap">
        <div class="row dest-item">
            <div class="two columns">
                <select name="dest" class="dest">
                    <option value=""> -ALL- </option>
                    {{#countries}}
                        <option value="{{iso2}}">{{short_name}}</option>
                    {{/countries}}
                </select>
            </div>

            <div class="four columns">
                <input type="text" class="input-dollar base" placeholder="Base">
                <input type="text" class="input-dollar additional" placeholder="Additional">
            </div>

            <div class="four columns">
                <select name="from" class="from">
                    <option value="">FROM</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                </select>
                <select name="to" class="to">
                    <option value="">TO</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                </select>
            </div>

            <div class="two columns">
                <a href="javascript:;" class="dest-save">Save</a>
                <a href="javascript:;" class="dest-delete">&times;</a>
            </div>
        </div>

        <div style="margin-top:5px;" class="add-dest-holder">
            <a href="javascript:;" class="edit-link add-dest">+ Add a destination</a>
        </div>
    </div>
</div>
