<div id="datatable-view-container" class="large-12 columns">
    <div id="datatable-header" class="module-tools">
        {{header}}
    </div>

    <table id="datatable-view-table" class="table">
        {{table}}
    </table>

    <div id="datatable-view-footer" class="module-pagination">
        {{footer}}
    </div>
        
</div>

<div id="datatable-view-create_form" class="small reveal-modal" data-reveal style="display:none;">
    {{create_form}}
</div>
<div id="datatable-view-update_form" class="small reveal-modal" data-reveal style="display:none;">
    {{update_form}}
</div>
<div id="datatable-view-delete_form" class="small reveal-modal" data-reveal style="display:none;">
    {{delete_form}}
</div>
<div id="tgt_email_lightbox"></div>
