<div class="dashboard-table">
    <table id="datatable-view-table" class="table">
        {{table}}
    </table>

    <div id="datatable-view-footer" class="module-pagination">
        {{footer}}
    </div>
        
</div>
