<header class="module-header create-header">
    <h3 class="title">Demo create box</h3>
</header>
<form class="create-main">
    <label for="">Email</label>
    <input type="email" name="name" placeholder="Email">

    <label for="">Select box</label>
    <select name="global_category_id">
        <option value="">option 1</option>
        <option value="">option 2</option>
        <option value="">option 3</option>
        <option value="">option 4</option>
    </select>

    <p>
        <label for="">Radio and Checkbox</label>
        <input type="radio" name="featured"><label for="">Radio 1</label>
        <input type="checkbox" name="resell"><label for="">Checkbox 1</label>
    </p>

    <input type="submit" datatable-action="create" class="submit-button" value="Save" datatable-trigger style="margin-bottom:1.875rem;">
</form>