<div class="module-tools-item">
    <a href="javascript:;" class="module-button create_link">Create</a>
</div>
<div class="module-tools-item" style="margin-left:10px">
    <a href="javascript:;" class="module-button send_email_link">Send To Selected</a>
</div>
