<div class="small-6 medium-6 large-6 columns">
    <form action="/api/downloaduserinfo">
        <input type="submit" class="button success small creatmasspay" value="SAVE AS CSV">
    </form>
</div>
<div class="small-6 medium-6 large-6 columns">
    {{header_search}}
</div>
