<!--<form action="" class="module-search glass-right" data-search>
    <input type="text" class="search-input hidden" name="product_name">
    <a href="javascript:;" class="search-submit"><i class="icon fi-magnifying-glass" datatable-action="search" datatable-trigger></i></a>
</form>
-->
