<form action="" class="module-tools-item module-from-to">
    <label for="">From</label>
    <input type="text" name="from_date" datatable-condition="price><%value%>">
    <label for="">to</label>
    <input type="text" name="to_date" datatable-condition="price<<%value%>">
    <input type="submit" value="Go!" datatable-trigger>
</form>