<div class="module-tools-item">
    <span class="dropdown module-dropdown" data-dropdown="status-dropdown">All Status</span>
    <ul id="status-dropdown" class="f-dropdown module-dropdown-content" data-dropdown-content="">
        <li><a href="#" datatable-trigger datatable-condition="status=5">Complete</a></li>
        <li><a href="#" datatable-trigger datatable-condition="status=3">Wating</a></li>
    </ul>
</div>







