<form class="search-form" data-abide="ajax">
    <div class="row collapse">
        <div class="small-9 medium-10 large-10 columns data-abide-input-container">
            <input class="search-input" type="search" name="q" value="{{q}}"  placeholder="put username and store_subdomain here for search">
            <small class="error">Required</small>
        </div>
        <div class="small-3 medium-2 large-2 columns">
            <input type="submit" datatable-action="search" class="search-button postfix search-submit" value="Search" datatable-trigger> 
        </div>
    </div>
</form>
