<tr row-id="{{row_id}}" data-href="">
    <td>{{product_name}}</td>
    <td>{{status_literal}}</td>
    <td>{{product_quantity}}</td>
    <td>{{currency_symbol}}{{product_price}}</td>
    <td>{{product_commission}}%</td>
    <td>{{currency_symbol}}{{commission}}</td>
</tr>
