<tr row-id="{{row_id}}">
    <td>{{id}}</td>
    <td>{{literal_status}}</td>
    <td>{{type}}</td>
    <td>{{subject}}</td>
    <td>{{created}}</td>
    <td>{{updated}}</td>
    <td class="action">
        <a class="update_link" href="/admin/email-templates-edit?id={{id}}">Edit</a>
    </td>
</tr>
