<tr row-id="{{row_id}}" data-href="/admin/payment-detail?id={{id}}">
    <td>{{id}}</td>
    <td>{{status}}</td>
    <td>{{type}}</td>
    <td>{{ref_id}}</td>
    <td>{{currency_symbol}}{{amount}}</td>
    <td>{{currency_symbol}}{{current_balance}}</td>
    <td>{{currency_symbol}}{{available_balance}}</td>
</tr>
