<tr row-id="{{row_id}}">
    <td class="action">
        <a href="#" class="update_link">Update</a> / <a href="#" class="delete_link">Delete</a>
    </td>
    <td>{{code}}</td>
    <td>{{formatted_scope}}</td>
    <td>{{start_time}}</td>
    <td>{{end_time}}</td>
    <td>{{formatted_price_offer_type}}</td>
    <td>{{price_off}}</td>
    <td>{{offer_name}}</td>
    <td>{{offer_description}}</td>
    <td>{{usage_limit}}</td>
    <td>{{usage_restriction}}</td>
    <td>{{formatted_free_shipping}}</td>
    <td>{{formatted_is_deal}}</td>
</tr>
