<tr row-id="{{row_id}}">
    <td><a href="{{purchase_url}}" target="_blank">{{asin}}</a></td>
    <td><a href="{{purchase_url}}" target="_blank"><img src="{{thumb_picture}}"> {{short_name}}</a></td>
    <td>${{price}}</td>
    <td>{{category_path}}</td>
    <td>{{featured_name}}</td>
    <td>{{featured_score}}</td>
    <td>{{updated}}</td>
    <td class="action">
        <a class="update_link">Update</a> /
        <a class="delete_link">Delete</a>
    </td>
</tr>
