[production]
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0
includePaths.library = APPLICATION_PATH "/../library"
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
appnamespace = "Application"
resources.frontController.controllerDirectory = APPLICATION_PATH "/controllers"
resources.frontController.params.displayExceptions = 0
database.account.host ='127.0.0.1'
database.account.user = 'root'
database.account.password = ''
database.account.name = 'account'
database.store.host ='127.0.0.1'
database.store.user = 'root'
database.store.password = ''
database.store.name = 'store'
database.job.host ='127.0.0.1'
database.job.user = 'root'
database.job.password = ''
database.job.name = 'job'
resources.layout.layoutPath = APPLICATION_PATH "/layouts/scripts/"
resources.layout.layout = "layout"
paypal.api.permissions.endpoint = 'https://svcs.paypal.com/Permissions'
paypal.api.permissions.version = '74.0'
paypal.api.expresscheckout.endpoint = 'https://api-3t.paypal.com/nvp'
paypal.api.expresscheckout.version = '65.0'
paypal.api.login_url = 'https://www.paypal.com/cgi-bin/webscr'
paypal.api.expresscheckout.cmd = '_express-checkout'
paypal.api.adaptivepayments.endpoint = 'https://svcs.paypal.com/AdaptivePayments'
paypal.api.adaptivepayments.cmd = '_ap-payment'
paypal.api.adaptivepayments.application_id = ''
paypal.api.ipn.cmd = _notify-validate
paypal.log.dir = '/tmp'
paypal.log.filename = 'paypal.log'
paypal.user.email = 'liang@pintics.com'
paypal.user.username = 'liang_api1.pintics.com'
paypal.user.password = ''
paypal.user.signature = ''
paypal.transaction_percentage = 0.029
paypal.transaction_flatfee = 0.3
paypal.masspay_percentage = 0.02
paypal.masspay_flatfee = 1
paypal.api.rest.mode = 'live'
paypal.api.rest.client_id = ""
paypal.api.rest.secret = ""
paypal.api.rest.http.connectiontimeout = 90
paypal.api.rest.log.enabled = 1
paypal.api.rest.log.filename = '/tmp/PayPal.log'
paypal.api.rest.log.level = 'FINE'
facebook.api.graph.me.url = 'https://graph.facebook.com/me'
facebook.api.graph.url = 'https://graph.facebook.com'
amazon.api.access_key = ''
amazon.api.secret = ''
amazon.api.affiliate_id = 'newelect0e-20'
amazon.api.s3.url = 'https://s3.amazonaws.com'
amazon.s3.pinterest_folder = 'pinterest'
amazon.s3.stores_folder = 'stores'
amazon.s3.csv_folder = 'csv'
amazon.s3.databasebackup_folder = '/backup/db'
sendgrid.api.username = 'shopinterest'
sendgrid.api.password = 'shopinterestrock'
sendgrid.api.endpoint = 'https://sendgrid.com/api/mail.send.json'
sendgrid.log.dir = '/tmp'
sendgrid.log.filename = 'sendgrid.log'
site.https.enable = "true"
site.versions.1.domain='shopinterest.co'
site.versions.1.merchant_url='www.shopinterest.co'
site.versions.2.domain='shopintoit.com'
site.versions.2.merchant_url='www.shopintoit.com'
site.versions.3.domain='shop.bullionrush.com'
site.versions.3.merchant_url='shop.bullionrush.com'
fileuploader.allowedExtensions='jpeg,jpg,png,gif'
fileuploader.sizeLimit='20971520'
fileuploader.uploadDirectory='/tmp/'
fileuploader.csvUploadDirectory='/tmp/csv/'
fileuploader.store_bucket='shopinterest_production'
transaction_config.service_fee = 1
shopinterest.support.email = 'support@shopinterest.co'
shopinterest.support.email_from_name = 'Shopintoit Support'
shopinterest.store.max_allowed_customer_emails = 50
shopinterest.store.logo.default = '/img/merchant_placeholder.jpg'
shopinterest.superpassword = ''
shopinterest.daily_max_stores = 100
shopinterest.logbackup.dir = '/tmp/log'
shopinterest.dbbackup.dir = '/tmp/db'
shopinterest.marketplace.username = 'liang@shopinterest.co'
shopinterest.marketplace.store_id = 37
v1.shopinterest.facebook.app_id = '212167575573301'
v1.shopinterest.facebook.secret = ''
v2.shopinterest.facebook.app_id = '212167575573301'
v2.shopinterest.facebook.secret = ''
v3.shopinterest.facebook.app_id = '212167575573301'
v3.shopinterest.facebook.secret = ''
shopinterest.percentage_transaction_fee = 1
shopinterest.min_transaction_fee = 1
shopinterest.session_key = 'SHOPINTOITSESSID'
shopinterest.test.username = 'liangdev+2@gmail.com'
shopinterest.test.merchant = 'liangdev+2@gmail.com';
shopinterest.test.shopper = 'liangdev+5@gmail.com';
shopinterest.test.cookie_path = /tmp/cookies/runtests
pinterest.homepage = 'http://pinterest.com/'
pinterest.api.getboards.endpoint = "http://pinterest.com/{{pinterest_username}}/boards/"
pinterest.api.getPinInfo.endpoint =  "http://pinterest.com/pin/{{pin_id}}/"
pinterest.api.getPins.endpoint = "http://pinterest.com/board/{{board_id}}/"
pinterest.api.createboard.endpoint = 'http://pinterest.com/board/create/'
pinterest.api.deleteboard.endpoint = 'http://pinterest.com/{{pinterest_username}}/{{boardname}}/settings/'
pinterest.api.editboard.endpoint = 'http://pinterest.com/{{pinterest_username}}/{{boardname}}/edit/'
pinterest.api.uploadpin.endpoint = 'http://pinterest.com/pin/create/'
pinterest.api.editpin.endpoint = 'http://pinterest.com/pin/{{external_pinterest_pin_id}}/edit/'
pinterest.api.deletepin.endpoint = 'http://pinterest.com/pin/{{external_pinterest_pin_id}}/delete/'
pinterest.api.login.endpoint = 'https://pinterest.com/login/'
pinterest.api.login.cookie_path = '/tmp/cookies/pinterest'
pinterest.api.createboard.newendpoint = 'http://pinterest.com/resource/BoardResource/create/'
pinterest.api.editpin.newendpoint = 'http://pinterest.com/{{pinterest_username}}/pins/'
pinterest.api.deletepin.newendpoint = 'http://pinterest.com/resource/PinResource/delete/'
pinterest.api.uploadpin.newendpoint = 'http://pinterest.com/resource/PinResource/update/'
pinterest.api.createpin.newendpoint = 'http://pinterest.com/resource/PinResource/create/'
pinterest.api.resource.endpoint = 'http://pinterest.com/resource/NoopResource/get/'
pinterest.api.accountfeed.resource.endpoint = 'http://pinterest.com/resource/ProfileBoardsResource/get/'
pinterest.api.boardfeedresource.endpoint = 'http://pinterest.com/resource/BoardFeedResource/get/'
pinterest.api.uploadpin.max_num_pins = 50
pinterest.max_allowed_jobs = 1
sphinx.index= 'search_products'
sphinx.api.search.host= '10.0.1.6'
sphinx.api.search.port= '9312'
sphinx.database.host = '10.0.1.4'
sphinx.database.name = 'account'
sphinx.database.user = 'root'
sphinx.database.password = ''
redis.server.host = '10.0.1.4'
redis.server.port = 6379
filepicker.api.key = ''
filepicker.api.garbage.key = ''
filepicker.api.store.endpoint = 'https://www.filepicker.io/api/store/S3?key={{key}}'
filepicker.api.convert.endpoint = 'https://www.filepicker.io/api/file/{{handle}}/convert'
google.api.client_id = '576854681798-othhq1e099vdh0kq3ba33edsbp7q4u73.apps.googleusercontent.com'
google.api.account_name = '576854681798-othhq1e099vdh0kq3ba33edsbp7q4u73@developer.gserviceaccount.com'
google.api.key_file = '/resource/e895eaee81de0828f6a135ea656d99a1338c83b1-privatekey.p12'
google.api.application_name = 'shpintoit'
google.api.profile_id = '83811466'
google.api.analytics_scope = 'https://www.googleapis.com/auth/analytics'
cloudinary.api.cloud_name = 'www-shopinterest-co'
cloudinary.api.key = ''
cloudinary.api.secret = ''

[staging : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
database.job.name = 'jobtest'
database.account.host = '10.0.0.4'
database.store.host = '10.0.0.4'
database.job.host = '10.0.0.5'
site.versions.1.domain='staging.shopinterest.co'
site.versions.1.merchant_url='staging.shopinterest.co'
site.versions.2.domain='staging.shopintoit.com'
site.versions.2.merchant_url='staging.shopintoit.com'
site.versions.3.domain='staging.shop.bullionrush.com'
site.versions.3.merchant_url='staging.shop.bullionrush.com'
paypal.api.permissions.endpoint = 'https://svcs.sandbox.paypal.com/Permissions'
paypal.api.expresscheckout.endpoint = 'https://api-3t.sandbox.paypal.com/nvp'
paypal.api.adaptivepayments.endpoint = 'https://svcs.sandbox.paypal.com/AdaptivePayments'
paypal.api.adaptivepayments.application_id = 'A'
paypal.user.email = 'shopin_1342385307_biz@gmail.com'
paypal.user.username = 'shopin_1342385307_biz_api1.gmail.com'
paypal.user.password = ''
paypal.user.signature = 'A3Ed9RkZkiD85qwI5EVw.1MCKGTVAS9eomAHHaNd1JBe5QIcNry9R7lq'
paypal.application_id = 'APP-80W284485P519543T'
paypal.api.login_url = 'https://www.sandbox.paypal.com/cgi-bin/webscr'
paypal.api.rest.mode = 'sandbox'
paypal.api.rest.client_id = ""
paypal.api.rest.secret = ""
paypal.api.rest.http.connectiontimeout = 90
paypal.api.rest.log.enabled = 1
paypal.api.rest.log.filename = '/tmp/PayPal.log'
paypal.api.rest.log.level = 'FINE'
pinterest.max_allowed_jobs = 9999
fileuploader.store_bucket='shopinterest_stage'
sphinx.api.search.host= '10.0.0.5'
sphinx.database.host = '10.0.0.4'
redis.server.host = '10.0.0.4'
shopinterest.marketplace.store_id = 57
v1.shopinterest.facebook.app_id = '573737459350983'
v1.shopinterest.facebook.secret = ''
v2.shopinterest.facebook.app_id = '573737459350983'
v2.shopinterest.facebook.secret = ''
v3.shopinterest.facebook.app_id = '573737459350983'
v3.shopinterest.facebook.secret = ''
google.api.profile_id = '84934867'

[testing : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

[development_liang : staging]
shopinterest.store.max_allowed_customer_emails = 10
resources.frontController.params.displayExceptions = 1
fileuploader.store_bucket='shopinterest_stage'