<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Shopinterest</title>

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="stylesheets/app.css">
  <link rel="sylesheet"  href="css/page/test_purchase.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="stylesheets/ie.css">
  <![endif]-->

  <script src="javascripts/modernizr.foundation.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>

	<div id="headerbar" class="top-bar attached">
		
		<div id="headerwrap" class="twelve columns centered row">
		
			<a id="logo" href="/" title="return to Shopinterest"><img src="images/shopinterest-logo.png" alt="Shopinterest logo"/></a>
		
			<ul id="nav" class="right">
				<li class="active"><a href="/login.html">Log In</a></li>
				<li><a href="/about-us.html">About Us</a></li>
				<li><a href="/faqs.html">FAQs</a></li>
			</ul>
		
			<a href="#" class="right twitterconnect"><img src="images/twitter-login.png" /></a>
			<a href="#" class="right facebookconnect"><img src="images/facebook-login.png" /></a>

		</div><!-- end headerwrap -->

	</div><!-- end headerbar -->

	<div id="container">

	<div id="page"class="attached">
				
		<div id="hero" class="attached row">
		
			<h1>Let's <span class="gentium">get</span> Started</h1>
			
			<div class="five columns offset-by-one">
				<ul id="frontpagebullets" class="centered">
					<li class="cart">Create a Pinterest store in minutes</li>
					<li class="chart">Sell your products</li>
					<li class="graph">Quick and simple – No website required!</li>
				</ul>
			</div>
			
			<div id="row">
			<div id="signup" class="panel five columns">
				<form class="twleve columns centered">
				  <input type="text" placeholder="Email" />
				  <input type="text" class="" placeholder="Password" />
				  <div class="row">
					<a id="getstartedbutton" href="#" class="button radius alert large">Get Started</a>
				  </div>  
				</form>
			</div>
			<div class="one column">&nbsp</div>
			</div>
			
			<div id="search" class="panel five columns offset-by-six">
				<form class="twelve columns centered">
				  	<div class="row">
					    <div class="row collapse">
					      <div class="ten mobile-three columns">
					        <input type="text" placeholder="Search for stores&hellip;	"/>
					      </div>
					      <div class="two	 mobile-one columns">
					        <a href="#" class="postfix button alert searchicon"></a>
					      </div>
					  </div>
					</div> 
				</form>
			</div>
			<div class="one column">&nbsp</div>
			
		</div><!-- end hero -->
		
		<div id="featuredstore" class="attached row">
			
			<h3 id="storetitle" class=""><span>Featured Store:</span> Cheap Thrills by Redbook</h3>	
			
			<div id="featuredproductwrap" class="twelve column attached row centered">
			
				<div class="two columns featuredproduct">
					<img src="images/products/product1.png" />
					<div class="ribbon">
						<p>$13.99</p>
					</div>
				</div><!-- end .featuredproduct -->
				
				<div class="two columns featuredproduct">
					<img src="images/products/product2.png" />
					<div class="ribbon">
						<p>$17.99</p>
					</div>
				</div><!-- end .featuredproduct -->
				
				<div class="two columns featuredproduct">
					<img src="images/products/product3.png" />
					<div class="ribbon">
						<p>$25.99</p>
					</div>
				</div><!-- end .featuredproduct -->
				
				<div class="two columns featuredproduct">
					<img src="images/products/product4.png" />
					<div class="ribbon">
						<p>$10.99</p>
					</div>
				</div><!-- end .featuredproduct -->
				
				<div class="two columns featuredproduct">
					<img src="images/products/product5.png" />
					<div class="ribbon">
						<p>$22.99</p>
					</div>
				</div><!-- end .featuredproduct -->
				
				<div class="two columns featuredproduct">
					<img src="images/products/product6.png" />
					<div class="ribbon">
						<p>$19.99</p>
					</div>
				</div><!-- end .featuredproduct -->
				
			</div><!-- end featured product wrap -->
			
		</div><!-- end feature store -->

	</div><!-- end page -->
	
	<div id="banner" class="attached row">
		<div id="bannerwrap" class="ten	 columns centered">
			<h2>“Get your Pinterest Store&mdash;easy and fast”</h2><img src="images/shopinterest-banner.png" />
		</div>
	</div><!-- end banner -->

	<div id="footer" class="row">
		
		<div class="row">
			<ul class="three columns centered">
				<li><a href="#">Login</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">FAQs</a></li>
			</ul>
		</div>

		<div id="copyrightinfo">
			<p>&copy;2012 Pintics All rights reserved</p>
		</div>

		
	</div><!-- end footer -->

  <!-- Included JS Files -->
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/jquery.reveal.js"></script>
  <script src="javascripts/jquery.orbit-1.4.0.js"></script>
  <script src="javascripts/jquery.customforms.js"></script>
  <script src="javascripts/jquery.placeholder.min.js"></script>
  <script src="javascripts/jquery.tooltips.js"></script>
  <script src="javascripts/app.js"></script>


</div><!-- end container -->
</body>
</html>
