
.nav-cart {  
    background-image: url(../img/nav-cart.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    display: block;
    text-indent: -9999px;
    padding-left: 28px;
}

.nav-cart:hover {
    background-image: url(../img/nav-cart-r.png);
    
    -webkit-transition: background-image .2s;
    -moz-transition: background-image .2s;
    -ms-transition: background-image .2s;
    -o-transition: background-image .2s;
    transition: background-image .2s;
}

.nav-cart-num {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 5px;
    line-height: 16px;
    
    font-style: normal;
    font-size: 10px;
    
    border-radius: 8px;
    background: #ec3232;
    color: #fff;
}
